@tailwind base;
@tailwind components;
@tailwind utilities;

.addTodo{
  background-color: beige;
  height: 50px;
  width: 20%;
  margin-top: 10px;
  margin-left: 10px;
}
.todo{
  background-color: skyblue;
  height: 90px;
  margin: 10px;
}

